---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

console.log("Hello!");
---

<Layout title="SpaceX Launches">
  <main>
    <Header />
  </main>
</Layout>
